/**************** menu *************/

* header {
  position: sticky;
  top: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0px;
  background-color: #fd9aca;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

nav ul {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  box-sizing: border-box;
}

.logo img {
  font-family: "Courier New", Courier, monospace;
  color: white;

  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  align-items: flex-start;
  list-style: square;
  margin: 15px;
  padding: 0;
}

.menu {
  color: rgb(0, 0, 0);
  font-family: "perandory";
  font-weight: bold;
  text-decoration: none;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: flex;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-size: large;
}

.menu a:hover {
  color: #fae9e9;
}

@media screen and (max-width: 200px) {
  .menu {
    display: none;
  }
}
